/* Añade un archivo MathExplanation.css o coloca estos estilos en línea */
.math_explanation__container {
	background-color: #f4e6d7;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 1rem;
  }
  

  .katex {
	font-size: 1.2em;
  }
  
  @media screen and (max-width: 600px) {
	section {
	  padding: 15px;
	}
	h2 {
	  font-size: 1.5em;
	}
	p {
	  font-size: 1em;
	}
	.katex {
	  font-size: 1em;
	}
  }
  