#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formField {
	font-size:1.2rem;
	color: #591902;
	font-weight: 800;
}

.formFieldContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}