#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.formField {
	font-size:1.2rem;
	color: #591902;
	font-weight: 800;
}

.formFieldContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

input {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 700;
	font-family: inherit;
	color: white;
	background-color: #b49159;
	cursor: pointer;
	transition: border-color 0.25s;
}